/* Common styles for both mobile and desktop */
.banner {
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 40px;
}

.banner .banner-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .banner-row button:hover {
  cursor: pointer;
  color: var(--secondaryColor);
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #b8b8b8;
  margin-bottom: 100px;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.contactAll-link {
  text-decoration: none;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  border: none;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

/* Image styles */
.banner img {
  width: 800px;
  height: 600px;
  z-index: 0;
  background: transparent;
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* Responsive styles for smaller screens (max-width: 768px) */
@media (max-width: 768px) {
  .banner {
    margin: 20px; /* Adjust margins for smaller screens */
  }

  .banner h1 {
    font-size: 40px; /* Reduce font size for smaller screens */
    margin-bottom: 10px; /* Reduce margin for smaller screens */
  }

  .banner p {
    margin-bottom: 10px; /* Reduce margin for smaller screens */
    font-size: 16px; /* Reduce font size for smaller screens */
  }

  .banner button {
    margin-top: 10px; /* Reduce margin for smaller screens */
    font-size: 18px; /* Reduce font size for smaller screens */
  }

  /* Hide the image on smaller screens */
  .banner img {
    display: none;
  }
}
