/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

*{
	/* background-image: url('D:/Lab_Main/Sem_5/CapstoneProjectWebsite/my-app/src/assets/img/color-sharp2.png'); Replace with your image URL */
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
	color: var(--textColor);
}
:root{
    --mainColor:black;
    --mainColorLight:#465699;
    --secondaryColor:rgb(207, 24, 207);
    --textColor:#eee;
}